* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #667eea, #764ba2);
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 20px;
}

.login-container {
    width: 100%;
    max-width: 420px;
}

.login-card {
    background: white;
    padding: 35px 28px;
    border-radius: 18px;

    box-shadow: 0 15px 40px rgba(0,0,0,0.2);
}

.logo {
    width: 70px;
    height: 70px;

    background: #f0f2ff;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 35px;

    margin: 0 auto 15px;
}

h1 {
    text-align: center;
    font-size: 25px;
    color: #222;
}

.subtitle {
    text-align: center;
    color: #777;
    margin: 8px 0 28px;
}

label {
    display: block;
    margin: 15px 0 7px;
    font-weight: bold;
    color: #333;
}

input {
    width: 100%;
    padding: 14px;

    border: 1px solid #ddd;
    border-radius: 9px;

    font-size: 16px;
    outline: none;
}

input:focus {
    border-color: #667eea;
}

button {
    width: 100%;
    padding: 14px;

    margin-top: 25px;

    border: none;
    border-radius: 9px;

    background: #667eea;
    color: white;

    font-size: 17px;
    font-weight: bold;

    cursor: pointer;
}

button:active {
    transform: scale(0.98);
}

#message {
    text-align: center;
    margin-top: 15px;
}

.register {
    text-align: center;
    margin-top: 25px;
    color: #777;
}

.register span {
    color: #667eea;
    font-weight: bold;
}
select {
    width: 100%;
    padding: 14px;

    border: 1px solid #ddd;
    border-radius: 9px;

    font-size: 16px;
    background: white;
    outline: none;
}

select:focus {
    border-color: #667eea;
}